
html, body {
    background: var(--background);
    color: var(--textWhite);
}

h1, p {
    color: var(--texth1);
}

#navbar a {
    color: var(--navbar);
}

.item {
    background: var(--item);
    color: var(--texth1);
}

button {
    background: var(--button);
    color: var(--texth1);
}

.box{
    background: var(--headerBG);
}

.featured {
     --yellow: #ffe55b;
    --red: #ff5564;   
}

#highlight{
color: var(--link);
}

a:link{
    color: var(--link);
    text-decoration: none;
}

a:visited{
    color: var(--linkUsed);
    text-decoration: none;
}

a:active{
    color: var(--linkActive);
    text-decoration: underline;
}

/*
    --yellow: #ffe55b;
    --red: #ff5564;
*/