body{
    background: #CED0CE;
    text-align: left;
    color: #191919;
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
}
h2{
    text-indent: 20px;
    color:#F15025;
}
div.box{
    margin: 0%;
    padding: 100px;
    height: 100%;
    width: 100%;
}

div#title{
    color:#FFFFFF;
    background-color: #191919;
}
div#regular{
    color:#191919;
    background-color: #FFFFFF;
}