body{
    background: #CED0CE;
    text-align: left;
    color: #191919;
    font-size: medium;
}
h2{
    text-indent: 20px;
    color:#F15025;
}

div.box{
    margin: 0%;
    padding: 5%;
    height: fit-content;
    width: 100vw;
}

div#title{
    color:#FFFFFF;
    background-color: #191919;
}
div#regular{
    color:#191919;
    background-color: #FFFFFF;
}